[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/dmg"]
	path = cookbooks/dmg
	url = https://github.com/opscode-cookbooks/dmg.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = https://github.com/hw-cookbooks/runit.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "cookbooks/yum-epel"]
	path = cookbooks/yum-epel
	url = https://github.com/opscode-cookbooks/yum-epel.git
[submodule "cookbooks/chef_handler"]
	path = cookbooks/chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
[submodule "cookbooks/powershell"]
	path = cookbooks/powershell
	url = https://github.com/opscode-cookbooks/powershell.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/socrata-cookbooks/java.git
[submodule "cookbooks/aws"]
	path = cookbooks/aws
	url = https://github.com/opscode-cookbooks/aws.git
[submodule "cookbooks/maven"]
	path = cookbooks/maven
	url = https://github.com/opscode-cookbooks/maven.git
[submodule "cookbooks/ark"]
	path = cookbooks/ark
	url = https://github.com/opscode-cookbooks/ark.git
[submodule "cookbooks/eclipse"]
	path = cookbooks/eclipse
	url = https://github.com/geocent-cookbooks/eclipse.git
[submodule "cookbooks/chef-android-sdk"]
	path = cookbooks/chef-android-sdk
	url = https://github.com/gildegoma/chef-android-sdk.git
[submodule "cookbooks/chef-gui"]
	path = cookbooks/chef-gui
	url = https://github.com/chuross/chef-gui.git
